/*
** Imports
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");
/*
** Removing Default Styles
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #fdfdfd;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

p {
  line-height: 1.5;
  padding-bottom: 2rem;
}

.container {
  padding: 0 10%;
}

i {
  font-size: 1.5rem;
  cursor: pointer;
}

/*
** Animation
*/
@-webkit-keyframes animate-background {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@keyframes animate-background {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@-webkit-keyframes nav-load {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes nav-load {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@-webkit-keyframes main-load {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  80% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes main-load {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  80% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes input-logo {
  0% {
    right: -100%;
  }
  80% {
    right: 1.25rem;
  }
  100% {
    right: 1rem;
  }
}

@keyframes input-logo {
  0% {
    right: -100%;
  }
  80% {
    right: 1.25rem;
  }
  100% {
    right: 1rem;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(2.5%);
            transform: translateY(2.5%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-2.5%);
            transform: translateY(-2.5%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(2.5%);
            transform: translateY(2.5%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-2.5%);
            transform: translateY(-2.5%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*
** Body
*/
body {
  background-image: -webkit-gradient(linear, left top, right top, from(#5a4fa1), color-stop(#985898), color-stop(#9851c5), to(#fd748e));
  background-image: linear-gradient(to right, #5a4fa1, #985898, #9851c5, #fd748e);
  background-size: 400%;
  -webkit-animation: animate-background 10s infinite alternate;
          animation: animate-background 10s infinite alternate;
}

/*
** Navbar
*/
.navbar .container {
  padding-top: 5%;
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: nav-load 0.3s ease-in;
          animation: nav-load 0.3s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.logo .circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #8db9df;
}

.menu {
  background-color: #fdfdfd;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: -100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.menu i {
  background-image: -webkit-gradient(linear, left top, right top, from(#5a4fa1), color-stop(#985898), color-stop(#9851c5), to(#fd748e));
  background-image: linear-gradient(to right, #5a4fa1, #985898, #9851c5, #fd748e);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  top: 10%;
  right: 10%;
}

.menu-btn {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: nav-load 0.3s ease-in;
          animation: nav-load 0.3s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu.active {
  left: 0;
  top: 0;
}

.navbar-links {
  list-style: none;
}

.navbar-link {
  background-image: -webkit-gradient(linear, left top, right top, from(#5a4fa1), color-stop(#985898), color-stop(#9851c5), to(#fd748e));
  background-image: linear-gradient(to right, #5a4fa1, #985898, #9851c5, #fd748e);
  background-size: 400%;
  background-clip: text;
  font-size: 1.5rem;
  color: transparent;
  cursor: pointer;
  margin-bottom: 2rem;
  font-weight: 600;
}

.navbar-link:hover {
  -webkit-animation: animate-background 0.8s infinite alternate;
          animation: animate-background 0.8s infinite alternate;
}

/*
** Main Section
*/
.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .container h1 {
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-animation: main-load 0.3s ease-in 0.6s;
          animation: main-load 0.3s ease-in 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main .container p {
  -webkit-transform: translateX(-115%);
          transform: translateX(-115%);
  -webkit-animation: main-load 0.3s ease-in 0.9s;
          animation: main-load 0.3s ease-in 0.9s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.left,
.right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.cta {
  -webkit-transform: scale(0);
          transform: scale(0);
  color: #5a4fa1;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 50px;
  outline: none;
  border: none;
  -webkit-animation: nav-load 0.3s ease-in 1.2s;
          animation: nav-load 0.3s ease-in 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.cta:hover,
.cta:focus {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.input-box {
  position: relative;
}

.input-box .icon i {
  position: absolute;
  right: -100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #8db9df;
  -webkit-animation: input-logo 0.6s ease-in 1.2s;
          animation: input-logo 0.6s ease-in 1.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.icons {
  margin-top: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: nav-load 0.3s ease-in 1.5s;
          animation: nav-load 0.3s ease-in 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.icons i {
  padding: 0.625rem;
  border: 2px solid #fdfdfd;
  border-radius: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.icons i:hover {
  color: #fdfdfd;
  background: #8db9df;
  border: 2px solid #8db9df;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.big {
  height: 400px;
  width: 100%;
  background: url(../media/pexels-uriel-mont-6280636.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  -webkit-animation: bounce 3s ease-in-out infinite;
          animation: bounce 3s ease-in-out infinite;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.small {
  height: 200px;
  width: 80%;
  background: url(../media/pexels-uriel-mont-6280636.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin-top: -10%;
  -webkit-animation: bounce 3s ease-in-out infinite;
          animation: bounce 3s ease-in-out infinite;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.big:hover,
.small:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: nav-load 0.3s ease-in 1.8s;
          animation: nav-load 0.3s ease-in 1.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/*
** Footer
*/
.footer {
  text-align: center;
}

/*
** Media Queries
*/
@media screen and (min-width: 768px) {
  .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .big {
    width: 50%;
  }
  .small {
    width: 50%;
    margin-left: -10%;
  }
}
/*# sourceMappingURL=index.css.map */